.addUserButton {
    background: #FFFFFF;
    border: 1px solid #0F4C81;
    color: #0F4C81;
}

.addUserButton:focus:active {
    background-color: #0F4C81;
    box-shadow: none;
    border: 1px solid #0F4C81;
}

.addUserButton:not(:focus:active) {
    color: #0F4C81;
    background-color: white;
    box-shadow: none;
    border: 1px solid #0F4C81;
}

.addUserButton:not(:focus:active):hover {
    color: white;
    background-color: #0F4C81;
    box-shadow: none;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    width: 40px;
    height: 38px;
    border-radius: 10px;
    text-decoration: none;
    padding: 12px 20px;
}

.button:hover {
    border: 1px solid #0F4C81;
}

.submit_button {
    color: #ffffff;
    background-color: #0f4c81;
    border: #0f4c81;
}

.submit_button:focus:active {
    background-color: #0F4C81;
    box-shadow: none;
}

.submit_button:not(:focus:active) {
    background-color: #0F4C81;
    box-shadow: none;
}

.submit_button:not(:focus:active):hover {
    background-color: #012f58;
    box-shadow: none;
}