.form_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
    color: #16456D;
}

.input_dropdown {
    width: 100%;
}

.input_dropdown select {
    border: 1px solid #0f4c81;
}
.input_dropdown:active{
    box-shadow: none;
}

.input_dropdown:not(:focus:active) select{
    box-shadow: none;
}

.input_dropdown select:focus {
    border: 1px solid #0f4c81;
}

.input_dropdown:focus:active{
    box-shadow: none;
    border: 1px solid #0f4c81;
}

.label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #16456D;
}

.input {
    flex: 0 1 30%;
    margin-right: 38px;
}

.input input {
    border: 1px solid #0f4c81;
}

.input:nth-child(3n + 3) {
    margin-right: 0;
}

.input:active{
    box-shadow: none;
}

.input:not(:focus:active) input{
    box-shadow: none;
}

.input input:focus {
    border: 1px solid #0f4c81;
}

.input:focus:active{
    box-shadow: none;
    border: 1px solid #0f4c81;
}

.form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.form_areas {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.area {
    flex: 0 1 30%;
    margin-right: 38px;
}

.area:nth-child(3n + 3) {
    margin-right: 0;
}

.area textarea {
    border: 1px solid #0f4c81;
}

.area:active{
    box-shadow: none;
}

.area:not(:focus:active) textarea{
    box-shadow: none;
}

.area textarea:focus {
    border: 1px solid #0f4c81;
}

.area:focus:active{
    box-shadow: none;
    border: 1px solid #0f4c81;
}

.form_button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 100%;
}

.addButton_students {
    background-color: #0f4c81;
    border: 1px #0f4c81;
    width: 215px;
    height: 42px;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 20px 0 0;
}

.addButton_students_list {
    background-color: #0f4c81;
    border: 1px #0f4c81;
    width: 280px;
    height: 42px;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.addButton_students_list:focus {
    background-color: #0f4c81;
}

.addButton_students_list:focus:active {
    background-color: #0f4c81;
    box-shadow: none;
}

.addButton_students_list:not(:focus:active) {
    background-color: #0f4c81;
    box-shadow: none;
}

.addButton_students_list:not(:focus:active):hover {
    background-color: #012f58;
    box-shadow: none;
}

.addButton_students_list[disabled] {
    background-color: rgba(15, 76, 129, 0.9);
}

.addButton_students:focus {
    background-color: #0f4c81;
}

.addButton_students:focus:active {
    background-color: #0f4c81;
    box-shadow: none;
}

.addButton_students:not(:focus:active) {
    background-color: #0f4c81;
    box-shadow: none;
}

.addButton_students:not(:focus:active):hover {
    background-color: #012f58;
    box-shadow: none;
}

.addButton_students[disabled] {
    background-color: rgba(15, 76, 129, 0.9);
}

.addButton_text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    width: 100%;
}

.addButton_list {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #0f4c81;
    border: 1px solid #0f4c81;
    margin-bottom: 0rem !important;
    margin-right: 0rem !important;
}

.addButton_list:not(:focus:active) {
    border-color: #0f4c81;
    box-shadow: none;
}

.submit_button {
    color: #ffffff;
    background-color: #0f4c81;
    border: #0f4c81;
}

.submit_button:focus:active {
    background-color: #0F4C81;
    box-shadow: none;
}

.submit_button:not(:focus:active) {
    background-color: #0F4C81;
    box-shadow: none;
}

.submit_button:not(:focus:active):hover {
    background-color: #012f58;
    box-shadow: none;
}