.form_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center
}

.students_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.students_header {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.header_title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
    color: #16456d;
}

.button_wrapper {
    display: flex;
    justify-content: center;
}

.back {
    color: white;
    padding: 10px 20px;
    background-color: #16456d;
    font-family: "Roboto", sans-serif;
    width: 150px;
}

.back:focus:active {
    background-color: #0F4C81;
    box-shadow: none;
    border: 1px solid #0F4C81;
}

.back:not(:focus:active) {
    color: #0F4C81;
    background-color: white;
    box-shadow: none;
    border: 1px solid #0F4C81;
}

.back:not(:focus:active):hover {
    color: white;
    background-color: #0F4C81;
    box-shadow: none;
}